<%- contentFor('HeaderCss') %>
    <link href="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet"
        type="text/css" />
    <link href="<%= process.env.AAP_URL %>assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet"
        type="text/css" />
    <!-- Filepond css -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/filepond/filepond.min.css" type="text/css" />
    <link rel="stylesheet"
        href="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

    <link href="<%= process.env.AAP_URL %>assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet">
    <!-- One of the following themes -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/classic.min.css" />
    <!-- 'classic' theme -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/monolith.min.css" />
    <!-- 'monolith' theme -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/nano.min.css" />
    <!-- 'nano' theme -->
    <!-- Plugins css -->
    <link href="<%= process.env.AAP_URL %>assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
        integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .error {
            color: red;
        }
    </style>
    <%- contentFor('body') %>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <a href="javascript:history.go(-1)" class="btn btn-primary waves-effect"><i
                                class="las la-long-arrow-alt-left"></i> Back</a>

                    </div>
                    <!-- end card header -->
                    <div class="card-body">
                        <div class="live-preview">
                            <form class="form needs-validation" id="edit_form" enctype="multipart/form-data"
                                method="post" action="<%= process.env.AAP_URL %>superadmin/student/update">
                                <div class="row gy-4">
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="studentId" class="form-label">Student ID:</label>
                                            <input type="text" class="form-control input" id="studentId"
                                            value="<%= user_data.studentId%>" disabled>
                                            <input type="hidden" name="id" value="<%= user_data._id%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="firstName" class="form-label">First Name: <span style="color: red;">*</span></label>
                                            <input type="text" name="firstName" class="form-control input"
                                                id="firstName" value="<%= user_data.firstName%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="lastName" class="form-label">Last Name: <span style="color: red;">*</span></label>
                                            <input type="text" name="lastName" class="form-control input" id="lastName"
                                            value="<%= user_data.lastName%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="school" class="form-label">School: <span style="color: red;">*</span></label>
                                            <select class="form-select input mb-3 school" name="school" id="school">
                                                <option value="">Select School</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="board" class="form-label">Board: <span style="color: red;">*</span></label>
                                            <select class="form-select input mb-3 board" name="board" id="board">
                                                <option value="">Select Board</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="medium" class="form-label">Medium: <span style="color: red;">*</span></label>
                                            <select class="form-select input mb-3 medium" name="medium" id="medium">
                                                <option value="">Select Medium</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="standard" class="form-label">Standard: <span style="color: red;">*</span></label>
                                            <select class="form-select input mb-3 standard" name="standard"
                                                id="standard" required>
                                                <option value="">Select Standard</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="email" class="form-label">Email ID: <span style="color: red;">*</span></label>
                                            <input type="email" name="email" class="form-control input" id="email"
                                            value="<%= user_data.email%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="phone" class="form-label">Phone: <span style="color: red;">*</span></label>
                                            <input type="text" name="phone" class="form-control input" id="phone"
                                            value="<%= user_data.phone%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="city" class="form-label">City: <span style="color: red;">*</span></label>
                                            <input type="text" name="city" class="form-control input" id="city"
                                            value="<%= user_data.city%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="password" class="form-label">Password: <span style="color: red;">*</span></label>
                                            <input type="password" name="password" class="form-control input"
                                                id="password" value="<%= user_data.password%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="student_status" class="form-label">Status:</label>
                                            <select class="form-select input mb-3" name="student_status"
                                                id="student_status">
                                                <option value="">Select Status </option>
                                                <option value="1" <% if(user_data.status==true ){ %>selected <% } %>
                                                        >Active</option>
                                                <option value="0" <% if(user_data.status==false ){ %>selected <% } %>
                                                        >Inactive</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <div>
                                            <label for="address" class="form-label">Address: <em>(Optional)</em></label>
                                            <textarea class="form-control" name="address"
                                                class="form-control input reset_input" id="address" rows="5"><%= user_data.address%></textarea>
                                        </div>
                                    </div>

                                    <!-- <div class="card-header">
                                        <h5 class="card-title mb-0">Gallery Section</h5>
                                    </div>

                                    <div class="col-xxl-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xxl-3 col-md-3">
                                                <div class="mb-4">
                                                    <h5 class="fs-15 mb-1">Profile Picture</h5>
                                                    <p class="text-muted">Add Profile Picture</p>
                                                    <input class="filepond" id="profilePicture" type="file" name="profilePicture"
                                                        accept="image/png, image/gif, image/jpeg">
                                                </div>
                                            </div>
                                            <div class="col-xxl-9 col-md-9">
                                                <% if(media){ %>
                                                    <div class="d-flex align-items-end">
                                                        <div class="text_event flex-shrink-0">
                                                            <div>
                                                                <img src="<%= process.env.AWS_IMG_URL %><%= media.path %>"
                                                                    width="100px" height="100px" id="slider_image"
                                                                    class="img-thumbnail" />
                                                            </div>
                                                        </div>
                                                        <div class="delete_event flex-grow-1 ms-3">
                                                                <div class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="Remove Image">
                                                                    <a class="text-danger d-inline-block remove-item-btn"
                                                                        data-bs-toggle="modal" href="javascript:void(0)"
                                                                        onclick="delete_data('<%= user_data._id%>')">
                                                                        <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-12">
                                        <button type="submit" id="create_btn"
                                            class="btn btn-primary waves-effect waves-light">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <!--end row-->
                        </div>

                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <%- contentFor('FooterJs') %>

            <!-- ckeditor -->
            <script
                src="<%= process.env.AAP_URL %>assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
            <!-- dropzone js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/dropzone/dropzone-min.js"></script>
            <script src="<%= process.env.AAP_URL %>assets/js/pages/ecommerce-product-create.init.js"></script>
            <!-- prismjs plugin -->
            <script src="<%= process.env.AAP_URL %>assets/js/jquery/jquery-3.6.0.min.js"></script>

            <script src="<%= process.env.AAP_URL %>assets/js/jquery/jquery.validate.min.js"></script>
            <!-- password-addon init -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-validation.init.js"></script>
            <!--Wysiwig js-->
            <script src="<%= process.env.AAP_URL %>assets/tinymce/tinymce.min.js"></script>
            <!-- Sweet Alerts js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.js"></script>
            <!-- Sweet alert init js-->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/sweetalerts.init.js"></script>
            <!-- filepond js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/filepond/filepond.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-file-upload.init.js"></script>

            <script src="<%= process.env.AAP_URL %>assets/libs/flatpickr/flatpickr.min.js"></script>
            <!-- Modern colorpicker bundle -->
            <script src="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/pickr.min.js"></script>
            <!-- init js -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-pickers.init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"
                integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
                $(document).ready(function () {
                    school_list();
                    board_list();
                    $('#board').change(function () {
                        var boardId = $('#board').val();
                        board(boardId);
                    });
                    var selectedMediumId = '<%= user_data.medium %>';
                    var selectedstdId = '<%= user_data.standard %>';
                    var schoolID = '<%= user_data.school %>';
                    medium(selectedMediumId, schoolID, selectedstdId);
                });

                $.validator.addMethod("email", function (value, element) {
                    return this.optional(element) || value == value.match(/^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/);
                }, "Please Enter Valid Email Address ");
                $('#edit_form').validate({ // initialize the plugin

                    errorClass: "error",
                    rules: {
                        firstName: {
                            required: true,
                        },
                        lastName: {
                            required: true,
                        },
                        school: {
                            required: true,
                        },
                        board: {
                            required: true,
                        },
                        medium: {
                            required: true,
                        },
                        standard: {
                            required: true,
                        },
                        email: {
                            required: true,
                        },
                        phone: {
                            required: true,
                        },
                        city: {
                            required: true,
                        },
                        password: {
                            required: true,
                        },
                    },
                    messages: {
                        firstName: {
                            required: 'Please enter first Name',
                        },
                        lastName: {
                            required: 'Please enter last Name',
                        },
                        school: {
                            required: 'Please enter school',
                        },
                        board: {
                            required: 'Please enter board',
                        },
                        medium: {
                            required: 'Please enter medium',
                        },
                        standard: {
                            required: 'Please enter standard',
                        },
                        email: {
                            required: 'Please enter email',
                        },
                        phone: {
                            required: 'Please enter phone',
                        },
                        city: {
                            required: 'Please enter city',
                        },
                        password: {
                            required: 'Please enter password',
                        },
                    },
                    highlight: function (element) {
                        $(element).addClass('input_error');
                    },
                    unhighlight: function (element) {
                        $(element).removeClass('input_error');

                    }
                });

                function delete_data(id) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then(function (willDelete) {
                        if (willDelete.isConfirmed) {
                            $.get('<%= process.env.AAP_URL %>superadmin/category/delete_img/' + id, {},
                                function (data) {
                                    if (data.success == 1) {
                                        $('.text_event' + index).remove();
                                        $('.delete_event' + index).remove();
                                        window.location.reload();
                                    }
                                },
                                'json');
                        }

                    });
                }

                function school_list() {
                    $.get('<%= process.env.AAP_URL %>superadmin/school-list', {},
                        function (data) {
                            if (data.success == 1) {
                                var html = '<option value="">Select School</option>';
                                $.each(data.data, function (index, value) {
                                    if ('<%= user_data.school %>' == value._id) {
                                        html += '<option  selected value="' + value._id + '">' + value.schoolName + '</option>';
                                    } else {
                                        html += '<option value="' + value._id + '">' + value.schoolName + '</option>';
                                    }
                                });
                                $(".school").html(html);
                            }
                        },
                        'json');
                }

                function board_list() {
                    $.get('<%= process.env.AAP_URL %>superadmin/board-list', {},
                        function (data) {
                            if (data.success == 1) {
                                var html = '<option value="">Select Board</option>';
                                var selectedMediumId = '<%= user_data.medium %>';
                                $.each(data.data, function (index, value) {
                                    if ('<%= user_data.board %>' == value._id) {
                                        html += '<option  selected value="' + value._id + '">' + value.boardName + '</option>';
                                        board(value._id, selectedMediumId);
                                    } else {
                                        html += '<option value="' + value._id + '">' + value.boardName + '</option>';
                                    }
                                });
                                $(".board").html(html);
                            }
                        },
                        'json');
                }

                function board(id, board_id = null) {
                    $.post('<%= process.env.AAP_URL %>superadmin/boarding', { board: id }, function (data) {
                        if (data.success == 1) {
                            var html = '<option value="">Select Medium</option>';
                            $.each(data.data, function (index, value) {
                                if (value._id == board_id) {
                                    html += '<option value="' + value._id + '" selected>' + value.mediumName + '</option>';
                                } else {
                                    html += '<option value="' + value._id + '">' + value.mediumName + '</option>';
                                }
                            });
                            $(".medium").html(html);
                        } else {
                            alert_msg("error", data.message);
                        }
                    });
                }

                function medium(id, schoolID, medium_id = null) {
                    $.post('<%= process.env.AAP_URL %>superadmin/stdclass', { medium: id, school: schoolID  }, function (data) {
                        if (data.success == 1) {
                            var html = '<option value="">Select Standard</option>';
                            $.each(data.data, function (index, value) {
                                if (value._id == medium_id) {
                                    html += '<option value="' + value._id + '" selected>' + value.standardName + '</option>';
                                } else {
                                    html += '<option value="' + value._id + '">' + value.standardName + '</option>';
                                }
                            });
                            $(".standard").html(html);
                        } else {
                            alert_msg("error", data.message);
                        }
                    });
                }

            </script>
            <!-- password-addon init -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-validation.init.js"></script>
            <!-- Sweet Alerts js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.js"></script>
            <!-- Sweet alert init js-->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/sweetalerts.init.js"></script>