<%- contentFor('HeaderCss') %>
    <link href="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet"
        type="text/css" />
    <link href="<%= process.env.AAP_URL %>assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet"
        type="text/css" />
    <!-- Filepond css -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/filepond/filepond.min.css" type="text/css" />
    <link rel="stylesheet"
        href="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

    <link href="<%= process.env.AAP_URL %>assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet">
    <!-- One of the following themes -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/classic.min.css" />
    <!-- 'classic' theme -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/monolith.min.css" />
    <!-- 'monolith' theme -->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/themes/nano.min.css" />
    <!-- 'nano' theme -->
    <!-- Plugins css -->
    <link href="<%= process.env.AAP_URL %>assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
        integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .error {
            color: red;
        }
    </style>
    <%- contentFor('body') %>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <a href="javascript:history.go(-1)" class="btn btn-primary waves-effect"><i
                                class="las la-long-arrow-alt-left"></i> Back</a>

                    </div>
                    <!-- end card header -->
                    <div class="card-body">
                        <div class="live-preview">
                            <form class="form needs-validation" id="edit_form" enctype="multipart/form-data"
                                method="post" action="<%= process.env.AAP_URL %>superadmin/board/update">
                                <div class="row gy-4">
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="boardId" class="form-label">Board ID:</label>
                                            <input type="text" class="form-control input" id="boardId"
                                            value="<%= user_data.boardId%>" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="boardName" class="form-label">Board Name: <span style="color: red;">*</span></label>
                                            <input type="text" name="boardName" class="form-control input"
                                                id="boardName" value="<%= user_data.boardName%>">
                                            <input type="hidden" name="id" value="<%= user_data._id%>">
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="board_status" class="form-label">Status:</label>
                                            <select class="form-select input mb-3" name="board_status" id="board_status"
                                                required>
                                                <option value="">Select Status </option>
                                                <option value="1" <% if(user_data.status==true ){ %>selected <% } %>
                                                        >Active</option>
                                                <option value="0" <% if(user_data.status==false ){ %>selected <% } %>
                                                        >Inactive</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <div>
                                            <label for="description" class="form-label">Description: <em>(Optional)</em></label>
                                            <textarea class="form-control" name="description"
                                                class="form-control input reset_input" id="description" rows="5"><%= user_data.description%></textarea>
                                        </div>
                                    </div>

                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Gallery Section</h5>
                                    </div>

                                    <div class="col-xxl-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xxl-3 col-md-3">
                                                <div class="mb-4">
                                                    <h5 class="fs-15 mb-1">Board Logo: <em>(Optional)</em></h5>
                                                    <p class="text-muted">Add Board Logo</p>
                                                    <p style="color: red;">*Media Size Should not be more than 25 MB </p>
                                                    <input class="filepond" id="boardLogo" type="file" name="boardLogo"
                                                        accept="image/png, image/gif, image/jpeg" onchange="checkFileSize(this)">
                                                </div>
                                            </div>
                                            <div class="col-xxl-9 col-md-9">
                                                <% if(media){ %>
                                                    <div class="d-flex align-items-end">
                                                        <div class="text_event flex-shrink-0">
                                                            <div>
                                                                <img src="<%= process.env.AWS_IMG_URL %><%= media.path %>"
                                                                    width="100px" height="100px" id="slider_image"
                                                                    class="img-thumbnail" />
                                                            </div>
                                                        </div>
                                                        <!-- <div class="delete_event flex-grow-1 ms-3">
                                                                <div class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="Remove Image">
                                                                    <a class="text-danger d-inline-block remove-item-btn"
                                                                        data-bs-toggle="modal" href="javascript:void(0)"
                                                                        onclick="delete_data('<%= user_data._id%>')">
                                                                        <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                    </a>
                                                                </div>
                                                            </div> -->
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" id="create_btn"
                                            class="btn btn-primary waves-effect waves-light">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <!--end row-->
                        </div>

                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <%- contentFor('FooterJs') %>

            <!-- ckeditor -->
            <script
                src="<%= process.env.AAP_URL %>assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
            <!-- dropzone js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/dropzone/dropzone-min.js"></script>
            <script src="<%= process.env.AAP_URL %>assets/js/pages/ecommerce-product-create.init.js"></script>
            <!-- prismjs plugin -->
            <script src="<%= process.env.AAP_URL %>assets/js/jquery/jquery-3.6.0.min.js"></script>

            <script src="<%= process.env.AAP_URL %>assets/js/jquery/jquery.validate.min.js"></script>
            <!-- password-addon init -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-validation.init.js"></script>
            <!--Wysiwig js-->
            <script src="<%= process.env.AAP_URL %>assets/tinymce/tinymce.min.js"></script>
            <!-- Sweet Alerts js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.js"></script>
            <!-- Sweet alert init js-->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/sweetalerts.init.js"></script>
            <!-- filepond js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/filepond/filepond.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
            <script
                src="<%= process.env.AAP_URL %>assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-file-upload.init.js"></script>

            <script src="<%= process.env.AAP_URL %>assets/libs/flatpickr/flatpickr.min.js"></script>
            <!-- Modern colorpicker bundle -->
            <script src="<%= process.env.AAP_URL %>assets/libs/@simonwep/pickr/pickr.min.js"></script>
            <!-- init js -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-pickers.init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"
                integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
                $(document).ready(function () {

                });

                $.validator.addMethod("email", function (value, element) {
                    return this.optional(element) || value == value.match(/^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/);
                }, "Please Enter Valid Email Address ");
                $('#edit_form').validate({ // initialize the plugin

                    errorClass: "error",
                    rules: {
                        boardName: {
                            required: true,
                        },
                    },
                    messages: {
                        boardName: {
                            required: 'Please enter board Name',
                        },
                    },
                    highlight: function (element) {
                        $(element).addClass('input_error');
                    },
                    unhighlight: function (element) {
                        $(element).removeClass('input_error');

                    }
                });

                function checkFileSize(input) {
                    if (input.files[0].size > 26214400) { // 25 MB in bytes
                        alert("File size should not be more than 25 MB.");
                        input.value = '';
                    }
                }

                function delete_data(id) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then(function (willDelete) {
                        if (willDelete.isConfirmed) {
                            $.get('<%= process.env.AAP_URL %>superadmin/category/delete_img/' + id, {},
                                function (data) {
                                    if (data.success == 1) {
                                        $('.text_event' + index).remove();
                                        $('.delete_event' + index).remove();
                                        window.location.reload();
                                    }
                                },
                                'json');
                        }

                    });
                }

                $(document).ready(function () {
                    if ($("#content").length > 0) {
                        tinymce.init({
                            selector: "textarea#content",
                            theme: "modern",
                            height: 200,
                            plugins: [
                                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                                "save table contextmenu directionality emoticons template paste textcolor"
                            ],
                            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                            style_formats: [
                                { title: 'Bold text', inline: 'b' },
                                { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                                { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                                { title: 'Example 1', inline: 'span', classes: 'example1' },
                                { title: 'Example 2', inline: 'span', classes: 'example2' },
                                { title: 'Table styles' },
                                { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                            ]
                        });
                    }
                });

            </script>
            <!-- password-addon init -->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/form-validation.init.js"></script>
            <!-- Sweet Alerts js -->
            <script src="<%= process.env.AAP_URL %>assets/libs/sweetalert2/sweetalert2.min.js"></script>
            <!-- Sweet alert init js-->
            <script src="<%= process.env.AAP_URL %>assets/js/pages/sweetalerts.init.js"></script>